* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Changa";
    overflow-x: hidden;
}

.header {
    background-color: #3df5a8;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 40px;
    height: 5rem;
    z-index: 1;
    display: flex;
}

.header h1 {
    color: #fff;
    font-size: 30px;
    margin-left: 120px;
    padding-top: 10px;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding-top: 10px;
    font-weight: 700;
    margin-left: 30px;
    transition: 1s;
}   

.navbar {
    margin-top: 10px;
    margin-left: 700px;
}

.header a:hover {
    color: black;
}

.container {
    margin-left: 80px;
    margin-top: 80px;
}

.row {
    display: flex;
    margin-bottom: 3rem;
}   

h1 {
    font-family: 'Changa';
}

img {
    width: 280px;
    height: 300px;
}

.container {
    margin-top: 130px;
}

.container h1 {
    margin-bottom: 20px;
}

.content-1-blog {
    border: 2px solid black;
    text-align: center;
    line-height: 1.5;
}

.contact {
    font-size: 21px;
    margin-left: 40px;
    margin-top: 80px;
}

.footer {
    padding: 1rem;
    background: #3df5a8;
    background-size: cover;
    margin-top: 20px;
    text-align: center;
    font-family: "Changa";
}

.footer h1 {
    color: #fff;
    font-size: 21px;
}

@media screen and (max-width: 720px) {
    .container {
        margin-left: 40px;
    }
}