body{
    padding: 0;
    margin: 0;
}
.header{
    padding: 40px;
    background: url(https://webgradients.com/public/webgradients_png/079%20Summer%20Games.png);
	background-size: cover;
}
.header h1{
    font-family: 'Changa';
    color: #fff;
    font-size: 40px;
    margin-left: 40px;
}
.container{
    margin-left: 4rem;
    margin-top: 7rem;   
}
.row{
    display: flex;
}
.blog-photo{
    margin-right: 20px;
}
.blog-photo img{
    width: 320px;
    height: 300px;
}
.blog-content span{
    font-size: 22px;
    font-family: 'XoloniumRegular';
}
.blog-content a{
    text-decoration: none;
    color: #1687a7;
    font-size: 28px;
    font-family: 'Fredoka One';
}
.blog-content a:hover{
    color: #3df5a8;
}
.paragraph{
    width: 900px;
    font-size: 20px;
    font-family: 'ClassicaBold';
}
.footer{
    padding: 40px;
    background: url(https://webgradients.com/public/webgradients_png/079%20Summer%20Games.png);
    background-size: cover;
    margin-top: 20px;
    text-align: center;
    font-family: 'Changa';
}
.footer h1{
    color: #fff;
}

@media screen and (max-width: 720px){
    .container{
        margin-left: 40px;
    }
}